<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <nav>
        <div>Stroke Striders</div>
        <div>
            <a href="{{ url_for('activities') }}" class="highlighted">Activities</a>
            <a href="{{ url_for('home') }}">Raw Data</a>
        </div>
    </nav>

    <header>
        <h2>Activities</h2>
    </header>

    <main>
        <div class="chart-container">
            <h3>Acitivty 1</h3>
            <canvas id="oneChart"></canvas>
        </div>
        
        <div class="chart-container">
            <h3>Acitivty 2</h3>
            <canvas id="twoChart"></canvas>
        </div>
    
        <div class="chart-container">
            <h3>Acitivty 3</h3>
            <canvas id="threeChart"></canvas>
        </div>
    </main>

    <footer>
        This is the footer
    </footer>

    <script src="static/scripts.js"></script>
</body>
</html>