<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <nav>
        <h1>Stroke Striders</h1>
    </nav>

    <header>
        <h2>Raw data</h2>
    </header>

    <main>
        <h3>Altitude</h3>
        <div class="chart-container">
            <canvas id="accelChart"></canvas>
        </div>
        
        <h3>Altitude</h3>
        <div class="chart-container">
            <canvas id="gyroChart"></canvas>
        </div>
    
        <h3>Altitude</h3>
        <div class="chart-container">
            <canvas id="magnetoChart"></canvas>
        </div>
    </main>

    <footer>
        This is the footer
    </footer>

    <script src="static/scripts.js"></script>
</body>
</html>